.About {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: calc(100vh - 168px);
    align-items: center;
    max-height: 900px;
    padding: 0 20px;
    justify-content: center;
}
.About--PhotoSection {
    width: 100%;
    flex-basis: 50%;
    flex-grow: 1;
    padding-right: 64px;
    position: relative;
}
.About--PhotoSection img {
    width: 434px;
    height: 300px;
    margin-left: 55px;
    margin-top: 59px;
}
.About--PrimaryBox {
    width: 434px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
}
.About--ContentSection {
    width: 100%;
    padding-left: 64px;
    flex-basis: 50%;
    flex-grow: 1;
}

.About--ContentSection h1{
    margin-bottom: 40px;
}

.About--ContentSection p{
    letter-spacing: 1px;
    line-height: 1.7rem;
}

@media (max-width: 1024px){
    .About {
        flex-direction: column;
        max-height: fit-content;
        height: auto;
        padding: 0 40px;
    }
    .About--PhotoSection {
        padding: 0;
        margin: 0;
    }
    .About--PrimaryBox {
        display: none;
    }
    .About--PhotoSection img {
        width: 100%;
        max-width: fit-content;
        margin: 15px auto;
    }
    .About--ContentSection  {
        padding: 20px;
    }
}

@media (max-width: 725px){
    .About{
        font-size: 12px;
        transition-duration: 0.3s;
    }
}

@media (max-width: 600px){
    .About--PhotoSection img{
        max-width: 400px;
        height: auto;
    }
}

@media (max-width: 425px){
    .About--PhotoSection img{
        display: none;
    }

    .About--ContentSection  h1{
        font-size: 20px;
        margin-bottom: 25px;
        transition-duration: 0.3s;
    }
}