.h-menu-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 43px 0;
}

.h-image{
    max-width: 80px;
    border-radius: 50%;
}

.h-menu-1 ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu-1, .menu-2 ul, .hidden ul{
    list-style: none;
}

.menu-1 a, .menu-2 a, .hidden a{
    text-decoration: none;
    color: var(--gray);
    font-weight: bold;
    transition: all 0.4s;
}

.menu-1 a:hover, .h-container ul li.active a, .menu-2 a:hover{
    color: var(--primary);
}

.h-menu-2{
    display: none;
}

@media (max-width: 768px){
    .h-menu-1{
        display: none;
    }

    .h-menu-2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 43px 0;
    }

    .hidden-layer{
        width: 90%;
        height: 170vh;
        background-color: #ffffff;
        opacity: 50%;
        position: absolute;
        top: 18%;
        z-index: 99;
        transition: all 0.3s;
    }

    .menu-2{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #f3f3f3;
        border-radius: 10px;
        width: 60%;
        height: 60vh;
        position: absolute;
        top: 18%;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 100;
        transition: all 0.4s;
    }

    .menu-2 ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-right: 2.8rem;
    }

    .hidden{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #f3f3f3;
        border-radius: 10px;
        width: 60%;
        height: 60vh;
        position: absolute;
        top: 18%;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.4s;
    }

    .hidden ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-right: 2.8rem;
    }

    .hidden{
        opacity: 0;
        transition: all 0.4s;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .menu-btn a{
        color: white;
    }

    .menu-btn a:hover{
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        color: white !important;
    }

    .h-image{
        max-width: 65px;
    }
}

@media (max-width: 425px){
    .menu-2{
        font-size: 0.8rem;
    }

    .menu-btn a{
        font-size: 0.8rem;
        padding: 13px 15px;
    }
}