.Banner {
    width: 100%;
    height: calc(100vh - 165px);
}
.Banner--Child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    margin-bottom: 2rem;
}
.Banner--Child h3{
    letter-spacing: 1px;
    line-height: 1.7rem;
}
.Banner--Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-shrink: 0;
    flex-basis: 50%;
    padding: 40px 20px;
}
.Banner--Content h1,
.Banner--Content h3,
.Banner--Content .Button {
    width: 100%;
    max-width: 490px;
}
.B-Button{
    margin-top: 20px;
}
.Button a{
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 17px 34px;
    cursor: pointer;
    transition: 400ms;
}
.Banner a:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.Banner__primaryColor {
    color: var(--primary)
}

.Banner--Profile{
    margin: 0 auto;
}

.Banner--Profile img{
    max-width: 420px;
}

@media (max-width: 1024px){
    .Banner--Profile img{
        max-width: 380px;
        height: 380px;
        transition-duration: 0.3s;
    }
}

@media (max-width: 900px){
    .Banner--Profile img{
        max-width: 340px;
        transition-duration: 0.3s;
    }
}

@media (max-width: 800px){
    .Banner {
        max-height: fit-content;
        height: auto;
    }
    .Banner--Child {
        flex-direction: column;
    }

    .Banner--Profile img{
        max-width: 400px;
        transition-duration: 0.3s;
    }
}

@media (max-width: 768px){
    .Banner--Child {
        font-size: 12px;
        transition-duration: 0.3s;
    }
}

@media (max-width: 545px){
    .Banner--Content {
        padding: 20px 30px;
    }

    .Banner--Profile img{
        display: none;
    }

    .B-Button{
        margin: 40px 0;
    }
}